
.container{
    margin: 3em;
    background: #b7e4b7;
    padding-top: 1.5em;
    padding-bottom: 1em;
}
.titulo{
    font-style: georgia;
    text-align: center;
    color: #2a473e;
	font-weight: bold;
}
.mb-3{
    width: auto;
    padding-left: 2em;
    padding-right: 2em;
}
#btn1{
    color:#fff;
    height: 45px;
    width: 20%;
	background: #6abb6a;
    border: none;
    margin-left: 33em;
}
#btn2{
    color:#fcf9f9;
    height: 45px;
    width: 20%;
	background: #e23232;
    border: none;
    margin-left: 33em;
}
i{
    color: #ffffff;
}



